@{
    ViewData["Title"] = "LibApp";
}

<div class="text-center">
    <h1 class="display-4">LibApp</h1>
    <p class="lead">Ekibiniz için merkezi kitap yönetimi.</p>
    <p>
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg">Yönetim Paneline Git</a>
    </p>
</div>
