@model Todo
<div class="row g-3">
    <div class="col-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>

    <div class="col-12">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="col-12">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="col-6 col-md-4">
        <label asp-for="Priority" class="form-label"></label>
        <select asp-for="Priority" class="form-select" asp-items="Html.GetEnumSelectList<TodoPriority>()"></select>
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>

    <div class="col-6 col-md-4">
        <label asp-for="DueDate" class="form-label"></label>
        <input asp-for="DueDate" class="form-control" />
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>
    
    <div class="col-12 col-md-4 d-flex align-items-center">
        <div class="form-check mt-4">
            <input class="form-check-input" asp-for="IsDone" />
            <label class="form-check-label" asp-for="IsDone"></label>
        </div>
    </div>
</div>