@{
    ViewData["Title"] = "Erişim Engellendi";
}

<div class="text-center my-5">
    <h1 class="display-6 text-danger">Erişim Engellendi</h1>
    <p>Görmek istediğiniz sayfa için gerekli izinlere sahip değilsiniz.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Ana Sayfaya Dön</a>
</div>
